 <center><h3>Welcome To The Index page, <%=current_user.username %></h3></center>

<ol>
  <% @deliveries.all.each do |deliveries| %>

   <form action="/deliveries/<%= deliveries.id %>/delete" method="post"> <br>  
    <input type="hidden" name="_method" value="delete" id='hidden'>
    <input type="submit" value="Delete deliveries">
   </form>

  <% end %>
</ol>


<a href="/login">Log In</a <br> <a href="/logout">Logout</a>

<a href="/users">Back</a>