<h1><center>Welcome to Critters Deliveries</h1></center>

<center><h2>Login To Your Account</h2></center>

<center><form method="POST" action="/login">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <button type="submit" id="submit">Submit</button>
</form></center>
<br>
<br>
(JH).&copy;
