
 <center><h1>Critters Deliveries, Create A New Delivery</h1></center>
  <center><form action='/deliveries' method="post">

   Name:
    <input type="text" name="name"><br>
   <br>
   Address:
    <input type="text" name="address"><br>
    <br>
   Type of Food:
    <input type="text" name="content"><br>
    <br>
   Submit Your Deliveries:
    <input type="submit" name="submit" id="submit"><br>
     <br>
  </form></center>
  <a href="/users">Back</a>
  <a href="/logout">Log out</a>
<br>
 (JH).&copy;


