<!doctype html>
<html>
  <head>
    <title>Critters Delivery</title>
  </head>
  <body style="background-color:lightblue;">
   
    <nav>
      <% if logged_in? %>
        <h2><a href="/deliveries/new"></a></h2>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
